body {
    color: 103966;
    background-color: 3fffceb;
}

a {
    color: #f09f00;
}

a:hover {
    text-decoration: underline;    
}

a:visited {
    color: #f09f00;
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #24364c;
    font-family: "Noto+Serif+Devanagari";
    font-size: 1.35em;
}

h1,
h2 {
    color: #24364c;
    font-family: "Noto+Serif+Devanagari";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Roboto";
}

#main {
    position: relative;
}