.masthead {
    background-color:#f3c300;
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.0em;}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #103966;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.0em;}